.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Headers */
.App-header {
  background-color: #f6effa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* TODO: Forms */
/* TODO: Tables */
/* TODO: Texts Area */

/* Buttons */

/* Primary */
.btn-purple-1 {
  background-color: #6650a4;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.btn-purple-1:hover {
  background-color: #4d3a8e;
}

.btn-red-1 {
  background-color: red;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.btn-red-1:hover {
  background-color: rgb(255, 59, 59);
}

/* Secondary */
.btn-purple-2 {
  color: #6650a4;
  background-color: #fff;
  border: #6650a4 1px solid;
  border-top-color: #6650a4;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.btn-purple-2:hover {
  background-color: #e8ddf8;
}

/* Sidebars */
.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #f7f2fa;
  width: 27rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  z-index: 100;
  border-radius: 0 25px 25px 0;
  flex-wrap: nowrap;
}

.sidebar-header {
  width: 70%;
  margin: 2rem auto;
  display: block;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  margin: 0.5rem;
  flex-grow: 1;
}

.sidebar-section-title {
  font-size: 1.8vmin;
  font-weight: bold;
  color: #49454f;
  align-self: flex-start;
  padding-left: 1rem;
}

.sidebar-navlink-active {
  padding-left: 2rem;
  text-decoration: none;
  box-shadow: 0 5px 10px rgb(0 0 0 / 0.2);
  color: #000;
  width: 100%;
  height: 3rem;
  border-radius: 25px;
  vertical-align: middle;
  display: flex;
  align-items: center;
  background-color: #e8ddf8;

}

.sidebar-navlink-inactive {
  padding-left: 2rem;
  text-decoration: none;
  color: #000;
  width: 100%;
  height: 3rem;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

.sidebar-navlink-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.8vh;
}

.sidebar-dot {
  width: 1.2vh;
  color: #49454f;
}


/* Main Content */
.main-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: #f7f2fa;
}

/* Swal icons */
.swal-icon-info {
  border-color: #6650a4;
}

.swal-icon-danger {
  border-color: #e74c3c;
}

.swal-icon-warning {
  border-color: #f39c12;
}

.swal-icon-success {
  border-color: #2ecc71;
}

/*Like & Dislike*/
.fab-container {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 2rem;
  justify-content: flex-end;
}

.fab {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #007bff;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.fab:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.fab i {
  font-size: 24px;
}

.fab-dislike {
  background-color: #dc3545;
  bottom: 20px;
  left: 20px;
}

/* Animación de rebote al hacer clic */
.clicked {
  animation: bounce 0.3s ease;
}

@keyframes bounce {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
}

/* Animaciones al cargar la página */
/* .fab {
  animation: fadeInUp 0.5s ease forwards;
}

.fab-dislike {
  animation: fadeInUp 0.5s ease 0.2s forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} */

.floating-like {
  font-size: 30px;
  color: #007bff;
  animation: floatUp 1s ease forwards;
}

@keyframes floatUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    opacity: 1;
    transform: translateY(-10px);
  }
  100% {
    opacity: 0;
    transform: translateY(-40px);
  }
}

.floating-dislike {
  font-size: 30px;
  color: #dc3545;
  animation: floatUp 1s ease forwards;
}
