.btn-purple-primary {
  background-color: #6650a4;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.btn-purple-primary:hover {
  background-color: #4d3a8e;
}

.btn-purple-secondary {
  background-color: rgb(255, 255, 255);
  color: #868383;
  border: blue;
  padding: unset;
  border-radius: 0.25rem;
}

.btn-purple-secondary:hover {
  background-color: #ffffff;
}

/* TODO: Define format to buttons */
